2014 Intro to DS Module X - Orphaned Slides.pptx
Data Science for Business_Lecture3.pptx
Data Science for Business_Lecture5.pptx
Data Science for Business_Lecture7.pptx
git tutorial.pdf
homework.txt
intro ds syllabus - fall 2014.docx
intro ds syllabus - fall 2014.pdf
intronumpy.pdf
random excel.xlsx

FosterFiles/

datasets/

jan slides/

*.pptx


readings/

ipython/labs/
